<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ page_title }} - Task manager</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/tasks.css">
    <script src="js/App.js"></script>
    <script src="js/Socket.js"></script>
    <script src="js/TaskGroup.js"></script>
    <script src="js/TaskGroupView.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>